name = "digital-care"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "digital-care-db"
database_id = "aa825794-edd1-41e9-9160-ef63af2e121e"
